#{extends 'main.html' /}
#{set title:'Request Report' /}
#{set activePage:'report' /}
#{include 'nav.html' /}

<section class="ui inverted yellow segment">
  <h2 class="ui header">Define the region for which you require a report</h2>
  	<h3 class="ui header">Size and position circle to select region for report </h3>
			<div class="ui raised fluid segment" id="mainSeg">
				<form class="ui fluid form" action="/report/renderReport" method="POST">
					<div id="map_canvas"></div>
					<div class="ui fluid segment">
      			<button class="fluid ui green submit button" onclick="requestReport()">
        		<i class="upload icon"></i> Generate Report</button>
    			</div>
		      <div style="visibility: hidden" id="circledata" name="circledata">
    		  	<input type="text"  id="radius" name="radius">
							<input type="text"  id="latcenter" name="latcenter">
							<input type="text"  id="lngcenter" name="lngcenter">
					</div>
				</form>	
			</div>	
</section>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="@{'/public/javascripts/report.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		
     
		