#{extends 'main.html' /}
#{set title:'Report' /}
#{set activePage:'report' /}
#{include 'nav.html' /}

<section class="ui inverted yellow segment">
  <h1 class="ui header">Report</h1>
  
<section class="ui form segment">
    <div class="ui grid">
      <div class="ui 16 wide column" >
        <div class="ui list">
          <table class="ui table">
            <thead>
            	<tr>
              	<th class="four wide">Commissioned by</th>
              	<th class="four wide center aligned">Search: radius (m)</th>
              	<th class="four wide center aligned">Center (latitude)</th>
            		<th class="four wide center aligned">Center (longitude)</th>
            	</tr>
            </thead>
            <tbody>
            	<tr> 
            		<td>${user}</td>
            		<td class="center aligned">${circle.radius.format('#.0')}</td>
                <td class="center aligned">${circle.latcenter.format('#.00000')}</td>
                <td class="center aligned">${circle.lngcenter.format('#.00000')}</td>
            	</tr>   
            </tbody>  
          </table> 
          <table class="ui celled table">
          	<thead>
          		<tr>
              	<th class="two wide">Residence ID</th>
              	<th class="three wide">Residence User</th>
              	<th class="three wide">Residence Type</th>
              	<th class="three wide">Rented?</th>
            		<th class="three wide">Rent</th>
            		<th class="two wide">Bedrooms</th>
            	</tr>
            </thead>
            <tbody>
            	#{list items:residences, as:'residence'} 
            	<tr> 
            		<td>${residence.id}</td>
            		<td>${residence.user}</td>
            		<td>${residence.residenceType}</td>
            		<td>${residence.rented}</td>
                <td>${residence.rent.format('#')}</td>
                <td>${residence.bedrooms.format('#')}</td>
            	</tr>   
            </tbody>  
            	#{/list}
          </table> 		   
           </div>
      </div>
</div>
</section>
</section>