#{extends 'main.html' /}
#{set title:'Thank you' /}
#{set activePage:'contact' /}
#{include 'nav.html' /}

<section class="ui inverted yellow segment">
	<h1 class="ui header">Acknowledgement</h1>
		<h4 class="ui header">Thank you for your message.</h4>

<section class="ui form segment" id="mainSeg">
	<p>We very much appreciate your having taken the time out of your very busy schedule to contact us.</p>
  <p>We will deal with the issues you have raised and advise you of the outcome as soon as possible.</p>        
  <p>With best wishes,</p>
  <p>The MyRent Team</p>
</section>
</section>