body
{
	margin: 2% 4% 2% 4%;
}

.ui.input input::-moz-placeholder {
  color: rgba(0, 0, 0, 1);
}

#mainSeg
{
	width: 60%;
}

#welcomeSeg
{
	width: 55%;
	float: left;
}

#welcomeImage
{
	float: right;
	padding: 0 4% 0 0;
}