#{extends 'main.html' /}
#{set title:'InputData ' /}
#{set activePage:'inputdata' /}
#{include 'nav.html' /}
    
<section class="ui inverted yellow segment">
	<h2 class="ui header"> Please Input Residence Data </h2>
  	<form class="ui form">
  		<div class="ui two column grid">
      	<div class="column">
      		<div class="ui raised fluid segment">
  					<div class="ui fluid segment">
    					<label>Location</label>
      					<div class="ui input">
            			<input id = "geolocation" value="53.347298, -6.268344" name="residence.geolocation"  type="text" readonly>
          			</div>               
    				</div>	
    				<div class="ui fluid segment">
    				<div >
    					<div class="grouped inline fields">
    					  <div class="field">
        					<div class="ui radio checkbox">
          					<input name="residence.rented" type="radio" checked="checked" value="yes">
          					<label>Rented</label>
        					</div>
      					</div>
      					<div class="field">
        					<div class="ui radio checkbox">
          					<input name="residence.rented" type="radio" value="no">
          					<label>Vacant</label>
        					</div>
      					</div>
      				</div>
      			</div>
      			</div>
      			<div class="ui fluid segment">
      				<div class="two fields">
      					<div class="field">
      						<div class="ui input">
      							<input type="text" placeholder="Rent Amount?" name="residence.rent">
      						</div>
      					</div>
      					<div class="field">
      						<div class="ui input">
      	 						<input type="text" placeholder="How Many Bedrooms?" name="residence.bedrooms">
      						</div>
      					</div>
        			</div>
        		</div>
      			<div class="ui fluid segment">
  						<div class="ui selection dropdown">
        				<input type="hidden" name="residence.residenceType" >
          				<div class="default text">Residence Type</div>
            				<i class="dropdown icon"></i>
              				<div class="menu">
                				<div class="item" data-value="apartment">Apartment/Flat</div>
                  			<div class="item" data-value="studio">Studio</div>
                  			<div class="item" data-value="House">House</div>
                			</div>
        			</div>
      			</div>
 						<div class="ui fluid segment">
      				<div id="notification"></div>	
      			</div>
      				<div class="form-actions">
      					<div class="ui green submit button"><i class="upload icon"></i>Submit Data</div>
      					<div class="ui error message"></div>
         			</div>
						</div>
					</div>
				<div class="column">
        	<div class="ui raised fluid segment">
          	<div id="map_canvas"></div>
          		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
          		<script src="@{'/public/javascripts/map.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        		</div>
      	</div>
      </div>
	</form>
</section>
<script src="@{'/public/javascripts/inputData.js'}" type="text/javascript" charset="${_response_encoding}"></script>

