#{extends 'main.html' /}
#{set title:'Contact Us' /}
#{set activePage:'contact' /}
#{include 'nav.html' /}

<section class="ui inverted yellow segment">
	<h1 class="ui header">Contact Us</h1>
	<h4 class="ui header">We would very much appreciate if you would provide some feedback</h4>

<section class="ui form segment" id="mainSeg">
	<form class="ui form" action="/contact/sendMessage" method="POST">
	  <div class="two fields">
			<div class="ui input field">
					<input type="text" name="user.firstName" placeholder="Your First Name">
				</div>
				<div class="ui input field">
					<input type="text" name="user.lastName" placeholder="Your Last Name">
				</div>
			</div>
			<div class="ui left icon input field">
				<input type="text" name="user.email" placeholder="Your Email Address"> 
				<i class="user icon"></i>
			</div>
			<div class="ui fluid form">
				<div class="field">
					<textarea placeholder="Your Message" name="messageTxd"></textarea>
				</div>
			</div>
			<button type="submit" class="ui green button">
			<i class="mail icon"></i>Send Message</button>
	</form>
</section>
</section>
 