#{extends 'main.html' /}

<nav class="ui inverted blue menu">
	#{if activePage=='welcome'} 
    <a class="ui active item" href="/index"><i class="home icon"></i>Welcome</a>
  #{/if} #{else}
  	<a class="ui item" href="/index"><i class="home icon"></i>Welcome</a>
  #{/else}
  #{if activePage=='signup'}
 	 <a class="ui active item" href="/signup"><i class="add user icon"></i>Sign Up</a>
 	#{/if} #{else}
 		<a class="ui item" href="/signup"><i class="add user icon"></i>Sign Up</a>
	#{/else}
	#{if activePage=='login'}
 		<a class="ui active item" href="/login"><i class="sign in icon"></i>Log In</a>
 	#{/if} #{else}
		<a class="ui item" href="/login"><i class="user icon"></i>Log In </a>
	#{/else} 
	#{if activePage=='inputdata'}
 		<a class="ui active item" href="/InputData/index"><i class="marker icon"></i>Input Data</a>
 	#{/if} #{else}
		<a class="ui item" href="/InputData/index"><i class="marker icon"></i>Input Data</a>
	#{/else}
	#{if activePage=='report'}
 		<a class="ui active item" href="/ReportController/index"><i class="bar chart icon"></i>Report</a>
 	#{/if} #{else}
		<a class="ui item" href="/ReportController/index"><i class="bar chart icon"></i>Report</a>
	#{/else}
	#{if activePage=='contact'}
 		<a class="ui active item" href="/Contact/index"><i class="mail outline icon"></i>Contact</a>
 	#{/if} #{else}
		<a class="ui item" href="/Contact/index"><i class="mail outline icon"></i>Contact</a>
	#{/else}
	#{if activePage=='logout'}
 		<a class="ui active item" href="/logout"><i class="sign out icon"></i>Log Out</a>
 	#{/if} #{else}
		<a class="ui item" href="/logout"><i class="sign out icon"></i>Log Out</a>
	#{/else}
</nav>
