#{extends 'main.html' /} 
#{set title:'Login to MyRent' /} 
#{set activePage:'login' /} 
#{include 'nav.html' /}

<section class="ui inverted yellow segment">
	<h1 class="ui header">Log into your Account</h1>
	<h4 class="ui header">Your Username is the email you registered with</h4>

<section class="ui form segment" id="mainSeg">
	<form class="ui form" action="/authenticate" method="POST">
	  <div class="ui left icon input field">
			<input type="text" name="email" placeholder="Email"> 
			<i class="user icon"></i>
				</div>
		<div class="ui left icon input field">
			<input type="password" name="password" placeholder="Password">
			<i class="lock icon"></i>
		</div>
			<button type="submit" class="ui green button ">
			<i class="sign in icon"></i>Login
			</button>
	</form>
</section>
</section>