#{extends 'main.html' /}
#{set title:'Signup for MyRent' /}
#{set activePage:'signup' /}
#{include 'nav.html' /}

<section class="ui inverted yellow segment">
  <h1 class="ui header"> Create a MyRent Account</h1>
  <h4 class="ui header">Register using a valid email address</h4>

<section class="ui fluid segment" id="mainSeg">
	<form class="ui form" action="/register" method="POST">
	  <div class="two fields">
			<div class="ui input field">
				<input type="text" name="user.firstName" placeholder="First Name">
			</div>
			<div class="ui input field">
				<input type="text" name="user.lastName" placeholder="Last Name">
			</div>
		</div>
			<div class="ui left icon input field">
				<input type="text" name="user.email" placeholder="Email Name">
				<i class="user icon"></i>
		 	</div>	
		 	<div class="ui left icon input field">
		 		<input type="password" name="user.password" placeholder="Password">
		 		<i class="lock icon"></i>
			</div>
			<div class="inline field">
				<div class="ui checkbox">
    			<input name="user.terms" type="checkbox">
    			<label for="conditions">I agree to the Terms and Conditions</label>
  			</div>
			</div>
			<div class="ui green submit button"><i class="save icon"></i> Signup </div>
			<div class="ui error message"></div>
	</form>
</section>
</section>

<script src="@{'/public/javascripts/signUp.js'}" type="text/javascript" charset="${_response_encoding}"></script>
